{{!-- layouts/base.hbs --}}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>
        Acme Ecommerce
    </title>

    {{#> head-block}}
      {{> head }}
    {{/head-block}}
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header">
          <img src="https://sites.sju.edu/afm/files/2017/06/ACME-LOGO.gif" height="30px" style="margin-right: 5px; margin-top: -2%" alt="">
          <a href="/" class="navbar-brand">
            Ecommerce
          </a>
        </div>

        {{#if user}}
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="/logout">Log Out</a>
            </li>
          </ul>
        {{/if}}
      </div>
    </nav>

    {{#> content-block}}
    {{!-- Content goes here --}}
    {{/content-block}}

  </body>
</html>
