{{!-- layouts/base.hbs --}}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>
        StockEx Data
    </title>

    {{#> head-block}}
      {{> head }}
    {{/head-block}}
  </head>

  <body class="mbm">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <img src="/img/logo.png" height="45px" alt="">
          </a>
        </div>
        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {{#if displayNavSearch}}
            <form action="/search" method="get" class="form-inline" style="padding-right: .8rem">
              <div class="search">
                <span class="fa fa-search form-control-feedback mt-2"></span>
                <input type="text" autocomplete="off" class="form-control form-control-sm" id="stockInput" style="width: 250px" name="symbol" placeholder="stock lookup">
                <div class="dropdown-menu col-md-12" id="filteredResultsContainer">
                  <div id="filteredResults"></div>
                </div>
              </div>
            </form>
          {{/if}}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              {{#if user}}
                <a class="login-link" href="/auth/logout">Logout</a>
              {{else}}
                <a class="btn btn-sm btn-light" href="/auth/google">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1024px-Google_%22G%22_Logo.svg.png" height="18px" style="margin-right: 3px" alt="">
                  Login
                </a>
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{#> content-block}}
    {{!-- Content goes here --}}
    {{/content-block}}

    <!-- search filtering -->
    <script type="text/javascript" src="/js/searchfilter.js"></script>

  </body>
</html>
