{{!-- layouts/base.hbs --}}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>
        Live Stock Quotes
    </title>

    {{#> head-block}}
      {{> head }}
    {{/head-block}}
  </head>

  <body class="mbm">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            Stock Quotes
          </a>
        </div>
        {{#if displayNavSearch}}
          <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        {{/if}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {{#if displayNavSearch}}
            <form action="/search" method="get" class="form-inline">
              <div class="search">
                <span class="fa fa-search form-control-feedback mt-2"></span>
                <input type="text" autocomplete="off" class="form-control form-control-sm" id="stockInput" name="symbol" placeholder="stock lookup">
                <div class="dropdown-menu col-md-12" id="filteredResultsContainer">
                  <div id="filteredResults"></div>
                </div>
              </div>
            </form>
          {{/if}}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              {{#if user}}
                <a class="nav-link" href="/auth/logout">Logout</a>
              {{else}}
                <a class="nav-link" href="/auth/google">Login</a>
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{#> content-block}}
    {{!-- Content goes here --}}
    {{/content-block}}

    <!-- search filtering -->
    <script type="text/javascript" src="/js/searchfilter.js"></script>

  </body>
</html>
