{{!-- layouts/base.hbs --}}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>
        Live Stock Quotes
    </title>

    {{#> head-block}}
      {{> head }}
    {{/head-block}}
  </head>

  <body class="mbm">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            Live Stock Quotes
          </a>
        </div>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <form action="/search" method="get" class="form-inline pull-right">
                <div class="form-group mb-2 mx-sm-3">
                  <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control form-control-sm" id="symbol" name="symbol"  placeholder="Stock Lookup">
                  </div>
                  <!-- <input type="text" style="margin-bottom: -7px;" class="form-control form-control-sm" id="symbol" name="symbol" placeholder="Stock Lookup"> -->
                </div>
                <!-- <button type="submit" class="btn btn-primary mb-2" data-loading="Searching...">Search</button> -->
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{#> content-block}}
    {{!-- Content goes here --}}
    {{/content-block}}

  </body>
</html>
