<!-- Income Chart Partial -->
<canvas id="incomeChart" height="224" ></canvas>


<script>
let ctxIncome = document.getElementById('incomeChart').getContext('2d');
let incomeChart;

// create chart on page load
$(document).ready(function() {
  fetch('/incomedata?symbol={{info.symbol}}&type=quarterly', {
    method: 'GET',
  }).then(function(result) {
    result.json().then(function(json) {
      if(json) {
        createIncomeChart(json.fiscalPeriods, json.totalRevenueData, json.earningsData);
      } else {
        // throw up 'NA' or some error message
        document.getElementById("incomeChart").style.display = "none";
        document.getElementById("financialsCard").innerHTML += "<h4>NA</h4>"
      }
    });
  });
});

function createIncomeChart(fiscalPeriods, totalRevenueData, earningsData) {
  incomeChart = new Chart(ctxIncome, {
    type: 'bar',
    data: {
      labels: fiscalPeriods,
      datasets: [{
        label: "Revenue",
        data: totalRevenueData,
        backgroundColor: 'rgba(130, 205, 255, 0.2)',
        borderColor: '#2BAAFF',
        borderWidth: 1
      }, {
        label: "Earnings",
        data: earningsData,
        backgroundColor: 'rgba(255, 208, 227, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1
      }]
    },
    options: {
      legend: {
        display: true
      },
      elements: {
        point:{
          radius: 0
        }
      },
      scales: {
        yAxes: [{
          gridLines: {
            borderDash: [8, 4]
          },
          ticks: {
            callback: function(value, index, values) {
              return numeral(value).format('0.00a').toUpperCase()
            }
          }
        }],
        xAxes: [{
          gridLines: {
            display: false
          }
        }]
      },
      tooltips: {
        mode: 'index',
        intersect: false,
        callbacks: {
          label: function(tooltipItem, data) {
            return data.datasets[tooltipItem.datasetIndex].label + ": " +
              numeral(tooltipItem.value).format('0.00a').toUpperCase()
          }
        }
      },
      hover: {
        mode: 'index',
        intersect: false
      }
    }
  });
}

function updateFinancialsRange(event, type) {
  var prevRange = document.getElementsByClassName('financials nav-link active');
  $(prevRange[0]).removeClass('active')

  $(event).addClass('active');

  fetch('/incomedata?symbol={{info.symbol}}&type=' + type, {
    method: 'GET',
  }).then(function(result) {
    result.json().then(function(json) {
      // update chart
      incomeChart.destroy();
      createIncomeChart(json.fiscalPeriods, json.totalRevenueData, json.earningsData);
    });
  });
}

</script>
