body {
  background-color: #F8F8F8;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-weight: 400;
}

.navbar.navbar-dark {
    /*background-color: #32325d !;*/
}

.mts {
  margin-top: 20px;
}

.mtm {
  margin-top: 40px;
}

.mtl {
  margin-top: 100px;
}

.mm {
  margin: 20px;
}

.mbm {
  margin-bottom: 40px;
}

.mbs {
  margin-bottom: 10px;
}

.ms {
  margin: 10px;
}

.mls {
  margin-left: 10px
}


.bold {
  font-weight: bold;
}

/*.date {
  font-weight: bold;
}

.amount-usd {
  font-weight: bold;
}*/

.pull-right {
  float: right;
}

.payment-card {
  border: 1px solid #DCDCDC;
  padding: 10px 15px;
  background-color: #F8F8F8;
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #F8F8F8;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
