<div class="card card-body mb20" id="earningsCard">
  <div class="row mbs">
    <div class="col-12 mbs">
      <h5>Earnings</h5>
    </div>
  </div>

  <!-- add earnings chart -->
  {{> charts/earnings_chart}}
</div>
