{{#> base }}

{{#*inline "content-block"}}

<div class="container">
	<h2 class="text-center mtm">Welcome, {{user.username}}</h2>
	<hr>
	<div class="row">
		<div class="col col-md-12">

			<!-- list customer's current subscription if one exists -->
			{{#if subscription}}
				<h5 class="card-title">Current Plan:
					<span style="font-size: 16px" class="text-muted">{{subscription.plan.nickname}}</span>
				</h5>
				<a href="/subscriptions" class="card-link">View Subscription</a>
			{{else}}
				<p>You are currently not subscribed to a plan.</p>
				<a class="btn btn-primary" href="/subscriptions">Select a Plan</a>
			{{/if}}

			<h5 class="text-center">Use our product: </h5>
			<div class="row justify-content-center">
				<button class="btn btn-success" {{#if_not subscription}}disabled{{/if_not}}>Use 1 Unit</button>
			</div>

		</div>
	</div>
</div>
<!--
<script>
	// Create a Stripe client, instance of Elements, instance of Card Element
	const stripe = Stripe("stripekey...");
	const elements = stripe.elements();
	const card = elements.create('card');
	card.mount('#card-element');

	// Handle form submission.
	var form = document.getElementById('payment-form');
	form.addEventListener('submit', function(event) {
	  event.preventDefault();

	  stripe.createToken(card).then(function(result) {
	    if (result.error) {
	      // Inform the user if there was an error.
	      var errorElement = document.getElementById('card-errors');
	      errorElement.textContent = result.error.message;
	    } else {
				console.log(result);
	      // Send the token to your server.
	      stripeTokenHandler(result.token);
	    }
	  });
	});

	// Submit the form with the token ID.
	function stripeTokenHandler(token) {
	  // Insert the token ID into the form so it gets submitted to the server
	  var form = document.getElementById('payment-form');
	  var hiddenInput = document.createElement('input');
	  hiddenInput.setAttribute('type', 'hidden');
	  hiddenInput.setAttribute('name', 'stripeToken');
	  hiddenInput.setAttribute('value', token.id);
	  form.appendChild(hiddenInput);

	  form.submit();
	}
</script> -->

{{/inline}}

{{/base}}
