{{#> base }}

{{#*inline "content-block"}}

<div class="container">
	<h4 class="text-center mtm">Welcome, {{user.username}}</h4>
	<hr>
	<div class="row">
		<div class="col col-md-12">

			<!-- list customer's current subscription if one exists -->
			{{#if subscription}}
				<h5 class="card-title">Current Plan:
					<span style="font-size: 16px" class="text-muted">{{subscription.plan.nickname}}</span>
				</h5>
				<a href="/subscription" class="card-link">View Subscription</a>
			{{else}}
				<p>You are currently not subscribed to a plan.</p>
				<a class="btn btn-primary" href="/subscription">Select a Plan</a>
			{{/if}}

			<h5 class="text-center">Use our product: </h5>
			<div class="row justify-content-center">
				<button class="btn btn-success" {{#if_not subscription}}disabled{{/if_not}}>Use 1 Unit</button>
			</div>

		</div>
	</div>
</div>

{{/inline}}

{{/base}}
