{{#> base }}

{{#*inline "content-block"}}
  <div class="container mtm">
    <div class="row d-flex justify-content-center">
      <div class="tab-content col-md-12">
        {{> flash_message }}

        <div class="tab-pane show active" id="login" role="tabpanel" aria-labelledby="login">

          <!-- general stock info -->
          {{> cards/quote_card}}

          <div class="row">

            {{#if_equals info.issueType "cs"}}
              <div class="col-lg-4 col-md-12 mtm">

                <!-- about company -->
                {{#if info.description}}
                  {{> cards/company_info_card}}
                {{/if}}

                <!-- revenue -->
                {{#if_equals info.issueType "cs"}}
                  {{> cards/revenue_chart_card}}
                {{/if_equals}}
              </div>
            {{/if_equals}}

            <div class="{{#if_equals info.issueType "cs"}}col-lg-8{{else}}col-lg-12{{/if_equals}} col-md-12 mtm">
              <!-- historical stock performance -->
              {{> cards/historical_chart_card}}

              <!-- Company News -->
              {{> cards/news_card}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{/inline}}

{{/base}}
