{{#> base }}

{{#*inline "content-block"}}
  <div class="container mtm">
    <div class="row d-flex justify-content-center">

      <div class="col-md-6">
        {{> flash_message }}

        <h4 class="text-center white-text">Search by symbol or company name</h4>

        <!-- search -->
        <form action="/search" method="get" class="mt-4">
          <div class="input-group mb-3">
            <input type="text" autocomplete="off" class="form-control" id="stockInput" name="symbol" placeholder="BOX, SQ, Apple, etc.">
            <div class="dropdown-menu col-md-12" id="filteredResultsContainer">
              <div id="filteredResults"></div>
            </div>
            <div class="input-group-append">
              <button class="btn btn-blue" type="submit" data-loading="Searching...">Search</button>
            </div>
          </div>
        </form>

      </div>

      <!-- watchlist -->
      <div class="col-md-8 mtm">
        <h5 class="white-text">Watchlist</h5>
        <hr class="white-background">
        {{#if user}}
          {{#if user.watchlist}}
            <div id="watchlist-container">
              <div id="watchlist-spinner" class="text-center"></div>
            </div>
          {{else}}
          <div class="white-text">

          </div>
          {{/if}}
        {{else}}
          <a href="/auth/google" class="btn btn-light btn-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1024px-Google_%22G%22_Logo.svg.png" height="18px" style="margin-right: 3px" alt="">
            Login with Google
          </a>
          <span class="white-text">
            to create and view your watchlist
          </span>
        {{/if}}
      </div>

    </div>
  </div>

  <!-- populate watchlist script -->
  <script type="text/javascript">
    var watchlistContainer = document.getElementById('watchlist-container');
    var watchlistSpinner = document.getElementById('watchlist-spinner');

    {{#if user.watchlist}}
      var spinnerHtml = '<i class="fas fa-spinner fa-spin watchlist-load mtm white-text"></i>'
      watchlistSpinner.innerHTML += spinnerHtml
    {{/if}}

    {{#each watchlist}}
      fetch('/fetch/{{this}}', { method: 'GET'})
        .then(function(result) {
          result.json().then(function(stock) {
            var html = '';
            var quote = stock.quote.data;

            // update html
            html += '<div class="card mvs card-body">'
            html += '<div class="row watchlist-item">'
            html += '<div class="col-6 overflow">'
            html += `<a href="/search?symbol=${stock.symbol}"><h5>${stock.symbol}</h5></a>`
            html += `<span>${quote.companyName}</span></div>`

            html += '<div class="col-6">'
            html += `<div class="price pull-right" data-price="${quote.latestPrice}"></div><br>`
            html += `<div class="daily-change-watchlist pull-right mtxs" change-percent="${quote.dailyChange.changePercent}">`;
            html += "</div></div></div>"

            watchlistSpinner.innerHTML = "";
            watchlistContainer.innerHTML += html
            stylePrices();
            styleChangeWatchlist();
          })
        .catch(function(error) {
          console.log(error);
        })
        })
    {{/each}}

  </script>

{{/inline}}

{{/base}}
