{{#> base }}

{{#*inline "content-block"}}
  <div class="container mtm">
    <div class="row d-flex justify-content-center">
      <div class="tab-content col-md-6">
        {{> flash_message }}

        <!-- search -->
        <form action="/search" method="get" class="mt-4">
          <div class="input-group mb-3">
            <input type="text" autocomplete="off" class="form-control" id="stockInput" name="symbol" placeholder="Search by symbol or company name">
            <div class="dropdown-menu col-md-12" id="filteredResultsContainer">
              <div id="filteredResults"></div>
            </div>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" data-loading="Searching...">Search</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

<!-- <script type="text/javascript">
$("#stockInput").on("input", function() {
  const input = $(this).val();
  var filteredResultsContainer = document.getElementById('filteredResultsContainer')

  if(input.length >= 2) {
    filteredResultsContainer.style.display = "list-item";

    fetch('/symbolfilter?input=' + input, {
      method: 'GET',
    }).then(function(result) {
      result.json().then(function(stocks) {
        // update html
        var filteredResults = document.getElementById('filteredResults')
        var html = "";
        for(var i = 0; i < stocks.length; i++) {
          html += `<a class="dropdown-item" href="/search?symbol=${stocks[i].symbol}">`
          html += '<div class="row">'
          html += `<div class="bold col-md-4">${stocks[i].symbol}</div>`
          html += `<div class="col-md-8 overflow">${stocks[i].companyName}</div>`
          html += '</div></a>'
        }
        filteredResults.innerHTML = html
      });
    });
  } else {
    filteredResultsContainer.style.display = "none";
  }
});
</script> -->

{{/inline}}

{{/base}}
