{{#> base }}

{{#*inline "content-block"}}

<div class="mtm container">
  <h4 class="mtm">Settings</h4>
  <hr>

  <div class="row">
    <div class="col col-md-8">

      {{> flash_message }}

      <div class="card">
        <strong class="card-header">
          Custom Configuration
        </strong>
        <form class="container mbs" action="/settings/configure" method="post">

          <div class="form-group mts">
            <label><strong>Custom Logo</strong></label>
            <input type="text" class="form-control" name="customLogo" placeholder="https://someurl.com/logo.png">
          </div>

          <div class="form-group">
            <label><strong>Checkout</strong></label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="checkout" value="custom" {{#if_equals config.checkout "custom"}}checked{{/if_equals}}>
              <label class="form-check-label">
                Custom Checkout (default)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="checkout" value="checkoutOld" {{#if_equals config.checkout "checkoutOld"}}checked{{/if_equals}}>
              <label class="form-check-label">
                Old Checkout
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="checkoutNew" value="checkoutNew" disabled>
              <label class="form-check-label">
                Hosted Checkout (does not support billing yet)
              </label>
            </div>
          </div>

          <div class="form-group">
            <label><strong>Trial Period</strong></label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="on" name="freeTrial" disabled>
              <label class="form-check-label">Free 30 trial (coming soon...)</label>
            </div>
          </div>

          <div class="form-group">
            <label><strong>Coupons</strong></label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="on" name="freeTrial" disabled>
              <label class="form-check-label">25% off first 3 months (coming soon...)</label>
            </div>
          </div>

          <button type="submit" class="btn btn-primary mts">Submit</button>
        </form>
      </div>
    </div>

    <div class="col col-md-4">

      <a href="https://admin.corp.stripe.com/merchants/acct_1EIdeGKccharpfW6/login_as?redirect=" class="">acct_1EIdeGKccharpfW6</a>
      <a class="btn btn-danger mts" href="/settings/reset-customer">Reset Stripe Customer</a>
      <a class="btn btn-danger mts" href="/settings/reset-config">Reset Configuration</a>
    </div>
  </div>


</div>

{{/inline}}

{{/base}}
