{{#> base }}

{{#*inline "content-block"}}

<div class="mtm container">
  <h4 class="mtm">Settings</h4>
  <hr>

  <div class="row">
    {{> flash_message }}

    <div class="col col-md-8">
      <div class="card">
        <strong class="card-header">
          Custom Configuration
        </strong>
        <form class="container mbs" action="/settings/configure" method="post">

          <label class="mts"><strong>Checkout</strong></label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="checkout" value="custom" {{#if_equals config.checkout "custom"}}checked{{/if_equals}}>
            <label class="form-check-label">
              Custom Checkout (default)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="checkout" value="checkoutOld" {{#if_equals config.checkout "checkoutOld"}}checked{{/if_equals}}>
            <label class="form-check-label">
              Old Checkout
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="checkoutNew" value="checkoutNew" disabled>
            <label class="form-check-label">
              New Checkout (does not support building yet)
            </label>
          </div>
          <button type="submit" class="btn btn-primary mts">Submit</button>
        </form>
      </div>
    </div>

    <div class="col col-md-4">

      <a href="https://admin.corp.stripe.com/merchants/acct_1EIdeGKccharpfW6/login_as?redirect=" class="">acct_1EIdeGKccharpfW6</a>
      <a class="btn btn-danger mts" href="/settings/reset-customer">Reset Stripe Customer</a>
    </div>
  </div>


</div>

{{/inline}}

{{/base}}
