{{#> base }}

{{#*inline "content-block"}}

<div class="mtm container">
  <h4 class="mtm">Settings</h4>
  <hr>

  <div class="row">
    <div class="col col-md-8">

      {{> flash_message }}

      <div class="card">
        <form class="container mbs" action="/settings/configure" method="post">

          <h4 class="mts">Custom Configuration</h4>

          <div class="form-group mts">
            <label><strong>Custom Logo</strong></label>
            <input type="text" class="form-control" name="customLogo"
              placeholder="https://someurl.com/logo.png"
              {{#if config.customLogo}}value="{{config.customLogo}}"{{/if}}>
          </div>

          <!-- <div class="form-group">
            <label><strong>Checkout</strong></label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="checkout" value="custom" {{#if_equals config.checkout "custom"}}checked{{/if_equals}}>
              <label class="form-check-label">
                Custom checkout with elements (default)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="stripeCheckout" value="stripeCheckout" {{#if_equals config.checkout "stripeCheckout"}}checked{{/if_equals}}>
              <label class="form-check-label">
                Stripe Checkout
              </label>
            </div>
          </div> -->

          <!-- <div class="form-group">
            <label><strong>Trial Period</strong></label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="on" name="freeTrial" disabled>
              <label class="form-check-label">Free 30 trial (coming soon...)</label>
            </div>
          </div>

          <div class="form-group">
            <label><strong>Coupons</strong></label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="on" name="freeTrial" disabled>
              <label class="form-check-label">25% off first 3 months (coming soon...)</label>
            </div>
          </div> -->

          <button type="submit" data-loading="Submitting..." class="btn btn-primary mts">Submit</button>
        </form>
      </div>
    </div>

    <div class="col col-md-4">
      {{#if user}}
        <a class="btn btn-danger mts" data-loading="Resetting Stripe Customer..." href="/settings/reset-customer">Reset Stripe Customer</a>
      {{/if}}
      <a class="btn btn-danger mts" data-loading="Resetting Configuration..." href="/settings/reset-config">Reset Configuration</a>
    </div>
  </div>


</div>

{{/inline}}

{{/base}}
