{{#> base }}

{{#*inline "content-block"}}

<div class="mtm container">
  <h4 class="mtm">Settings</h4>
  <hr>

  {{> flash_message }}
  
  <form action="/settings/configure" method="post">

    <label class="mtm"><strong>Checkout</strong></label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="checkout" value="custom" {{#if_equals config.checkout "custom"}}checked{{/if_equals}}>
      <label class="form-check-label">
        Custom Checkout (default)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="checkout" value="checkoutOld" {{#if_equals config.checkout "checkoutOld"}}checked{{/if_equals}}>
      <label class="form-check-label">
        Old Checkout
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="checkoutNew" value="checkoutNew" disabled>
      <label class="form-check-label">
        New Checkout
      </label>
    </div>
    <button type="submit" class="btn btn-primary mts">Submit</button>
  </form>

</div>

{{/inline}}

{{/base}}
